<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8">
<title>Arrau propiedades</title>
 <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand fixed-top bg-white navigation-clean">
        <div class="container-fluid"><a class="navbar-brand" href="#">
        <img
		src="https://trello-attachments.s3.amazonaws.com/5cc730691f57f32daa57deda/238x82/ded2f8a4537d8f5cb4dfd0a5f63591b4/Logo_horizontal.png">
		</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <div class="btn-group ml-auto" role="group">
                <button class="btn btn-primary" type="button" onclick="location.href='/indexAdmin'">Iniciar Sesión</button>  
                <button class="btn btn-primary" type="button" disabled style="margin-left: 4px;">Publicar propiedad</button></div>
            </div>
        </div>
    </nav>
    
   	<header class="masthead text-white text-center" style="background: url('static/assets/img/bg-masthead.jpg')no-repeat center center;background-size: cover;background-image: url(&quot;assets/img/fotografia-hdr-de-edificios_1366x768_3178.jpg&quot;);">
    	<div class="overlay"></div>
        <div class="container">
        	<div class="row">
            	<div class="col-xl-11 mx-auto">
                	<h1 class="mb-5">Busca todo tipo de propiedades. ¡De seguro lo encontrarás en Arrau Propiedades!</h1>
                </div>
                <div class="col"><div class="input-group mb-3">
  	<select class="custom-select">
    	<option value="1">Arrendar</option>
    	<option value="2">Comprar</option>
    	<option value="3">Arrendar/Comprar</option>
  	</select>
  	
    <select class="custom-select">
   	 	<option value="1">Casa</option>
	    <option value="2">Departamento</option>
	    <option value="3">Oficina</option>
    	<option value="4">Local comercial</option>
    	<option value="5">Cabaña</option>
    	<option value="6">Sitio</option>
  	</select>
  	
    <div class="input-group-append">
     <input type="text" class="form-control" size="40px"placeholder="Ingresa comuna o región">
    </div>   
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" disabled id="button-addon2"> <i class="fa fa-search"></i> Buscar</button>
  </div>
</div></div>
            </div>
        </div>
    </header>
    
    <div class="card text-center">
		<div class="card-body">
			<h3> Lo sentimos</h3>
			<h4> Esta página aún no está operativa</h4>
			<hr>
		</div>
	</div>
    
	<button type="button" class="btn btn-outline-dark" onclick="location.href='/interesado'">Interesado</button>
	<button type="button" class="btn btn-outline-dark" onclick="location.href='/destinacion'">Destinacion</button>
	<button type="button" class="btn btn-outline-dark" onclick="location.href='/tipo'">Tipo</button>
	<button type="button" class="btn btn-outline-dark" onclick="location.href='/inmobiliaria'">Inmobiliaria</button>
	<button type="button" class="btn btn-outline-dark" onclick="location.href='/propiedadPojo'">Propiedad</button>
	<button type="button" class="btn btn-outline-dark">Interesado Propiedad</button>
	
	<footer th:replace="layout/footer :: footer"></footer>
	
</body>
</html>