<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Arrau Propiedades</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <head th:replace="layout/header :: head">
</head>
<body>
  
  	<header th:replace="layout/header :: header"></header>
  	
  	<hr>
  	<br>
  	<h1> Aquí va el contenido</h1>
  	<h1> Aquí va el contenido</h1>
  	<h1> Aquí va el contenido</h1>
  	<h1> Aquí va el contenido</h1>
  	<h1> Aquí va el contenido</h1>
  	<h1> Aquí va el contenido</h1>
  	
	<footer th:replace="layout/footer :: footer"></footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/untitled.js"></script>
</body>
</html>
