<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Inmobiliarias</title>
<style>
#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#customers tr:hover {
	background-color: #ddd;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #0C3256;
	color: white;
}

#customers a {
	color: black;
}

h2 {
	text-align: center;
}
</style>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/Map-Clean.css">
<link rel="stylesheet" href="assets/css/Navigation-Clean.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<head th:replace="layout/header :: head">
</head>
<body>

	<div class="container">
		<header th:replace="layout/header :: header"></header>
		<br> <br> <br> <br> <br> <br>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a
					onclick="location.href='/indexAdmin'"><span>Inicio</span></a></li>
				<li class="breadcrumb-item active"><span>Ver
						inmobiliarias</span></li>
			</ol>
		</nav>

		<h2 th:if="${list.isEmpty()}">
			No hay propiedades <a href="/inmobiliaria/save/0"
				class="btn btn-primary"><i class="fa fa-user-plus"></i> Agregar</a>
		</h2>

		<div th:if="${!list.isEmpty()}">
			<h2>
				Inmobiliaria <a href="/inmobiliaria/save/0" class="btn btn-primary"><i
					class="fa fa-user-plus"></i> Agregar</a>
			</h2>
			<hr>
			<div class="table-responsive table-bordered text-left">
				<table id="customers">
					<thead>
						<tr>
							<th>Nombre inmobiliaria</th>
							<th>Ciudad</th>
							<th>Correo</th>
							<th>Teléfono</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="inmobiliaria : ${list}">
							<td th:text="${inmobiliaria.nombre}"></td>
							<td th:text="${inmobiliaria.ciudad}"></td>
							<td th:text="${inmobiliaria.correo}"></td>
							<td th:text="${inmobiliaria.telefono}"></td>
							<td><a type="button" class="btn btn-link"
								th:href="@{/inmobiliaria/save/{id}(id=${inmobiliaria.idInmobiliaria})}">Editar</a>
							</td>
							<td><a type="button" class="btn btn-link"
								th:href="@{/inmobiliariaDetalle/{id}(id=${inmobiliaria.idInmobiliaria})}">Ver
									detalles</a>
					</tbody>
				</table>
				<br><br>
			</div>
		</div>
	</div>
	<!--  
						<tr th:each="inmobiliaria : ${list}">
							<td th:text="${inmobiliaria.calle}"></td>
							<td th:text="${inmobiliaria.ciudad}"></td>
							<td th:text="${inmobiliaria.comuna}"></td>
							<td th:text="${inmobiliaria.correo}"></td>
							<td th:text="${inmobiliaria.latitud}"></td>
							<td th:text="${inmobiliaria.longitud}"></td>
							<td th:text="${inmobiliaria.nombre}"></td>
							<td th:text="${inmobiliaria.numDepartamento}"></td>
							<td th:text="${inmobiliaria.numero}"></td>
							<td th:text="${inmobiliaria.region}"></td>
							<td th:text="${inmobiliaria.correo}"></td>
							<td th:text="${inmobiliaria.telefono}"></td>
-->
	<footer th:replace="layout/footer :: footer"></footer>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/untitled.js"></script>
</body>


</html>