<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Inmobiliarias</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/Map-Clean.css">
<link rel="stylesheet" href="assets/css/Navigation-Clean.css">
<head th:replace="layout/header :: head">
</head>
<body>
	<header th:replace="layout/header :: header"></header>
	<div>
		<br>
		<div>
			<br> <br> <br> <br>
			 <a
				href="/inmobiliaria/save/0" class="btn btn-primary">Agregar</a>
		</div>
		<h2 th:if="${list.isEmpty()}">No hay inmobiliarias</h2>
		<div th:if="${!list.isEmpty()}">
			<h2>Inmobiliarias</h2>
			<table class="table">
				<table border="2px">
					<thead>
						<tr>
							<th>Calle</th>
							<th>Ciudad</th>
							<th>Comuna</th>
							<th>Correo</th>
							<th>Latitud</th>
							<th>Longitud</th>
							<th>Nombre</th>
							<th>N° Departamento</th>
							<th>Número</th>
							<th>Región</th>
							<th>Ciudad</th>
							<th>Correo</th>
							<th>Telefono</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="inmobiliaria : ${list}">
							<td th:text="${inmobiliaria.calle}"></td>
							<td th:text="${inmobiliaria.ciudad}"></td>
							<td th:text="${inmobiliaria.comuna}"></td>
							<td th:text="${inmobiliaria.correo}"></td>
							<td th:text="${inmobiliaria.latitud}"></td>
							<td th:text="${inmobiliaria.longitud}"></td>
							<td th:text="${inmobiliaria.nombre}"></td>
							<td th:text="${inmobiliaria.numDepartamento}"></td>
							<td th:text="${inmobiliaria.numero}"></td>
							<td th:text="${inmobiliaria.region}"></td>
							<td th:text="${inmobiliaria.correo}"></td>
							<td th:text="${inmobiliaria.telefono}"></td>
							<td><a
								th:href="@{/inmobiliaria/save/{id}(id=${inmobiliaria.idInmobiliaria})}">
									Editar </a></td>
							<td><a
								th:href="@{/inmobiliaria/delete/{id}(id=${inmobiliaria.idInmobiliaria})}">
									Eliminar </a></td>
						</tr>
					</tbody>
				</table>
				</div>
				</div>
				<script src="assets/js/jquery.min.js"></script>
				<script src="assets/bootstrap/js/bootstrap.min.js"></script>
				<script src="assets/js/untitled.js"></script>
</body>


</html>