<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tipos</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/Map-Clean.css">
<link rel="stylesheet" href="assets/css/Navigation-Clean.css">
<head th:replace="layout/header :: head">
</head>
<body>
	<header th:replace="layout/header :: header"></header>
	<div>
		<br>
		<div>
			<br> <br> <br> <br>
			 <a href="/tipo/save/0"
				class="btn btn-primary">Agregar</a>
		</div>
		<h2 th:if="${list.isEmpty()}">No hay tipos</h2>
		<div th:if="${!list.isEmpty()}">
			<h2>Tipos</h2>
			<table class="table">
				<table border="2px">
					<thead>
						<tr>
							<th>Condición</th>
							<th>Nombre Tipo</th>
							<th>Numero de baños</th>
							<th>Numero de dormitorios</th>
							<th>Numero de estacionamientos</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tipo : ${list}">
							<td th:text="${tipo.condicion}"></td>
							<td th:text="${tipo.nombreTipo}"></td>
							<td th:text="${tipo.numBanio}"></td>
							<td th:text="${tipo.numDormitorio}"></td>
							<td th:text="${tipo.numEstacionamiento}"></td>
							<td><a th:href="@{/tipo/save/{id}(id=${tipo.idTipo})}">
									Editar </a></td>
							<td><a th:href="@{/tipo/delete/{id}(id=${tipo.idTipo})}">
									Eliminar </a></td>
						</tr>
					</tbody>
				</table>
				</div>
				</div>
				<script src="assets/js/jquery.min.js"></script>
				<script src="assets/bootstrap/js/bootstrap.min.js"></script>
				<script src="assets/js/untitled.js"></script>
</body>
</html>