<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Destinaciones</title>
</head>
<body>
	<div>
		<br>
		<div>
			<a href="/destinacion/save/0" class="btn btn-primary">Agregar</a>
		</div>
		<h2 th:if="${list.isEmpty()}"> No hay destinaciones </h2>
			<div th:if="${!list.isEmpty()}">
				<h2>Destinaciones</h2>
				<table class="table">
					<thead>
						<tr>
							<th>Fecha de Venta</th>
							<th>Fecha de Registro</th>
							<th>Tipo de Destinacion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="destinacion : ${list}">
							<td th:text="${destinacion.fechaVenta}"></td>
							<td th:text="${destinacion.fechaRegistro}"></td>
							<td th:text="${destinacion.tipoDestinacion}"></td>
							<td> <a th:href="@{/destinacion/save/{id}(id=${destinacion.idDestinacion})}"> Editar </a> </td> 
							<td> <a th:href="@{/destinacion/delete/{id}(id=${destinacion.idDestinacion})}"> Eliminar </a> </td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
</body>
</html>