<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Arrau propiedades</title>
</head>
<body>
<h1>Arrau Propiedades</h1>
<button onclick="location.href='/interesado'">Interesado</button>
<button onclick="location.href='/destinacion'">Destinacion</button>
<button onclick="location.href='/tipo'">Tipo</button>
<button onclick="location.href='/interesadoPropiedad'">Interesado Propiedad</button>
<button onclick="location.href='/inmobiliaria'">Inmobiliaria</button>
<button onclick="location.href='/propiedad'">Propiedad</button>
</body>
</html>