<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Arrau propiedades</title>
</head>
<body>
	<img
		src="https://trello-attachments.s3.amazonaws.com/5cc730691f57f32daa57deda/238x82/ded2f8a4537d8f5cb4dfd0a5f63591b4/Logo_horizontal.png">
	<h1></h1>
	<button onclick="location.href='/interesado'">Interesado</button>
	<button onclick="location.href='/destinacion'">Destinacion</button>
	<button onclick="location.href='/tipo'">Tipo</button>
	<button onclick="location.href='/inmobiliaria'">Inmobiliaria</button>
	<button onclick="location.href='/propiedad'">Propiedad</button>
	<button style="background:red">Interesado
		Propiedad</button>
</body>
</html>