<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado de Interesados</title>
</head>
<body bgcolor="#F6CEEC">
	<div>
		<br>
		<div>
			<a href="/interesado/save/0" class="btn btn-primary">Agregar</a>
		</div>
		<h2 th:if="${list.isEmpty()}">No hay interesados</h2>
		<div th:if="${!list.isEmpty()}">
			<h2>Interesados</h2>
			<table class="table">
				<table border="2px">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Telefono</th>
							<th>Correo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="interesado : ${list}">
							<td th:text="${interesado.nombre}"></td>
							<td th:text="${interesado.telefono}"></td>
							<td th:text="${interesado.correo}"></td>
							<td><a
								th:href="@{/interesado/save/{id}(id=${interesado.idInteresado})}">
									Editar </a></td>
							<td><a
								th:href="@{/interesado/delete/{id}(id=${interesado.idInteresado})}">
									Eliminar </a></td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
</body>
</html>