<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<style>
#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#customers tr:hover {
	background-color: #ddd;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #0C3256;
	color: white;
}

#customers a {
	color: black;
}

h2 {
	text-align: center;
}
</style>

<title>Listado de Propiedades</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/Map-Clean.css">
<link rel="stylesheet" href="assets/css/Navigation-Clean.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<head th:replace="layout/header :: head"></head>
<body style="background-color:#dee8f0;">

<div class="container">
	<header th:replace="layout/header :: header"></header>
	
	<div>
		<br>
		
		<div>
			<br> <br> <br> <br>

  		<nav aria-label="breadcrumb" style="background-color:#ffffff;">
  			<ol class="breadcrumb" style="background-color:#ffffff;">
  				<li class="breadcrumb-item pointer" onclick="location.href='/indexAdmin'"  aria-current="page" style="background-color:#ffffff; color:#00699d;">Inicio</li>
  				<li class="breadcrumb-item active" aria-current="page" style="background-color:#ffffff;">Ver propiedades</li>
  			</ol>
		</nav>
		
		</div>
		
		<h2 th:if="${list.isEmpty()}">
			No hay propiedades
			<a href="/propiedad/save/0" class="btn btn-success pointer">
				<i class="fa fa-user-plus"></i> 
				Agregar
			</a>
		</h2>

		
		<div th:if="${!list.isEmpty()}">
			<h2 class="display-4">Propiedades</h2>
			<div align="right">
				<a href="/propiedad/0" class="btn pointer btn-info"><i class="fa fa-plus"></i> Agregar propiedad</a>
				<a href="/pdfPropiedades" class="btn pointer btn-danger"><i class="fa fa-file-pdf"></i> Exportar pdf</a>
				<a href="/excelPropiedades" class="btn pointer btn-success"><i class="fa fa-file-pdf"></i> Exportar excel</a>
			</div>
			
			</div>
			<hr>


			<table id="customers">

				<tr>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Dimension del terreno</th>
					<th>Dimension de la Propiedad</th>
					<th>Región</th>
					<th>Comuna</th>
					<th></th>
				</tr>

				<tr th:each="propiedad : ${list}">
					<td th:text="${propiedad.nombrePropiedad}"></td>
					<td th:text="${propiedad.precio}"></td>
					<td th:text="${propiedad.dimTerreno}"></td>
					<td th:text="${propiedad.dimConstruccion}"></td>
					<td th:text="${propiedad.region}"></td>
					<td th:text="${propiedad.comuna}"></td>
					<td>
						<a type="button" class="btn btn-outline-warning"
							th:href="@{/propiedad/{id}(id=${propiedad.idPropiedad})}">Editar</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
</div>
	
<footer th:replace="layout/footer :: footer"></footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/untitled.js"></script>
</body>
</html>