<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<style>
#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#customers tr:hover {
	background-color: #ddd;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #0C3256;
	color: white;
}

#customers a {
	color: black;
}

h2 {
	text-align: center;
}
</style>
<title>Detalle de Propiedad</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/Map-Clean.css">
<link rel="stylesheet" href="assets/css/Navigation-Clean.css">
<head th:replace="layout/header :: head">
</head>
<body>
	<header th:replace="layout/header :: header"></header>
	<div>
		<br>
		<div>
			<br> <br> <br> <br>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a
						onclick="location.href='/indexAdmin'"><span>Inicio</span></a></li>
					<li class="breadcrumb-item active"><span>Propiedades</span></li>
				</ol>
			</nav>
		</div>


		<table class="table">
			<thead>
				<tr>
					<th>Precio</th>
					<th>Descripcion</th>
					<th>Dimensión del terreno</th>
					<th>Dimensión de la construcción</th>
					<th>Calle</th>
					<th>Número</th>
					<th>Número depto</th>
					<th>Ciudad</th>
					<th>Comuna</th>
					<th>Region</th>
					<th>Latitud</th>
					<th>Longitud</th>
					<th>Número de baños</th>
					<th>Número de dormitorios</th>
					<th>Número de estacionamientos</th>
					<th>Nombre inmobiliaria</th>
					<th>Nombre tipo</th>
					<th>Condicion</th>
					<th>Tipo de destinación</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="propiedadPojo: ${listDetalle}">
					<td th:text="${propiedadPojo.idPropiedad}"></td>
					<td th:text="${propiedadPojo.precio}"></td>
					<td th:text="${propiedadPojo.descripcion}"></td>
					<td th:text="${propiedadPojo.dimTerreno}"></td>
					<td th:text="${propiedadPojo.dimConstruccion}"></td>
					<td th:text="${propiedadPojo.calle}"></td>
					<td th:text="${propiedadPojo.numero}"></td>
					<td th:text="${propiedadPojo.numDepartamento}"></td>
					<td th:text="${propiedadPojo.ciudad}"></td>
					<td th:text="${propiedadPojo.comuna}"></td>
					<td th:text="${propiedadPojo.region}"></td>
					<td th:text="${propiedadPojo.latitud}"></td>
					<td th:text="${propiedadPojo.longitud}"></td>
					<td th:text="${propiedadPojo.numBanio}"></td>
					<td th:text="${propiedadPojo.numDormitorio}"></td>
					<td th:text="${propiedadPojo.numEstacionamiento}"></td>
<!-- 					<td th:text="${propiedadPojo.nombreInmobiliaria}"></td> -->
<!-- 					<td th:text="${propiedadPojo.nombreTipo}"></td> -->
<!-- 					<td th:text="${propiedadPojo.condicion}"></td> -->
<!-- 					<td th:text="${propiedadPojo.destinacion}"></td> -->

<!-- 					<td> -->
<!-- 						<button type="button" class="btn btn-link" -->
<!-- 							th:href="@{/inmobiliaria/save/{id}(id=${inmobiliaria.idInmobiliaria})}">Editar</button> -->
<!-- 					</td> -->
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="layout/footer :: footer"></footer>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/untitled.js"></script>
</body>
</html>