<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar Destinación</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/Map-Clean.css">
<link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <head th:replace="layout/header :: head">
</head>
<body>
<div class="container">	
<header th:replace="layout/header :: header"></header>
	<br><br><br><br><br><br>
	<div>
		<form action="#" th:action="@{/tipo/save}" th:object="${tipo}"
			method="post">
			<input type="hidden" th:field="*{idTipo}" name="idTipo" id="idTipo">
			

			<div class="form-group">
				<label for="fechaRegistro">Nombre tipo</label> <input type="text"
					class="form-control" id="nombreTipo" th:field="*{nombreTipo}" name="nombreTipo" required>
			</div>

			<br>
			<button type="submit" class="btn btn-success">Guardar</button>
			<button type="button" class="btn btn-danger" onclick="location.href='/tipo'">Cancelar</button>
			<br><br>
		</form>
	</div>
	</div>
	<footer th:replace="layout/footer :: footer"></footer>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/untitled.js"></script>
</body>
</html>