<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar propiedad</title>

<style>

	.pointer {
		cursor: pointer;
	}

	.btn:hover{
		box-shadow: 0 6px 12px 0 rgba(0,0,0,0.6);
	}

</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head th:replace="layout/header :: head">
</head>
<body style="background-color:#dee8f0;" onload="esconder();")>

<header th:replace="layout/header :: header"></header>
 	
  	<br><br><br><br><br><br>

<div class="container">	

  		<nav aria-label="breadcrumb" style="background-color:#ffffff;">
  			<ol class="breadcrumb" style="background-color:#ffffff;">
  				<li class="breadcrumb-item pointer" onclick="location.href='/indexAdmin'"  aria-current="page" style="background-color:#ffffff; color:#00699d;">Inicio</li>
  				<li class="breadcrumb-item pointer" onclick="location.href='/propiedades'" aria-current="page" style="background-color:#ffffff; color:#00699d;">Ver propiedades</li>
				<li class="breadcrumb-item active" aria-current="page" style="background-color:#ffffff;">Agregar propiedad</li>	  				
  			</ol>
		</nav>
	
	<div style="background-color: #ffffff"> 
	<form class="ml-5 mr-5" action="#" th:action="@{/savePropiedad}" th:object="${propiedades}" method="post">
			
		<div class="form-group">
			<br><br>
			<h4 class="display-4 text-center">Guardar una propiedad</h4>
			<hr><br>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Tipo de propiedad* </label>
			<div class="col-md-6">
				<select class="form-control" th:name="idTipo" required>
					<option th:each="tipos : ${tipo}"
							th:value="${tipos.idTipo}"
							th:text="${tipos.nombreTipo}" >
					</option>
				</select>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Destinacion de la propiedad* </label>
			<div class="col-md-6">
				<select class="form-control" th:name="idDestinacion" required>
					<option th:each="destinaciones : ${destinacion}"
							th:value="${destinaciones.idDestinacion}"
							th:text="${destinaciones.nombreDestinacion}" >
					</option>
				</select>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Condición de la propiedad* </label>
			<div class="col-md-6">
				<select class="form-control" th:name="idCondicion" required>
					<option th:each="condiciones : ${condicion}"
							th:value="${condiciones.idCondicion}"
							th:text="${condiciones.nombreCondicion}" >
					</option>
				</select>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Inmobiliaria asociada* </label>
			<div class="col-md-6">
				<select class="form-control" th:name="idInmobiliaria" required>
					<option th:each="inmobiliarias : ${inmobiliaria}"
							th:value="${inmobiliarias.idInmobiliaria}"
							th:text="${inmobiliarias.nombre}" >
					</option>
				</select>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Estado de la propiedad* </label>
			<div class="col-md-6">
				<select class="form-control" th:name="idEstadoPropiedad" required>
					<option th:each="estadosPropiedades : ${estadoPropiedad}"
							th:value="${estadosPropiedades.idEstadoPropiedad}"
							th:text="${estadosPropiedades.nombreEstadoPropiedad}" >
					</option>
				</select>
			</div>
		</div>
				
		<h3>ingresar datos básicos de la propiedad</h3>
		<hr>
		
		<input type="hidden" th:field="*{idPropiedad}" name="idPropiedad" id="idPropiedad">
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Nombre propiedad* </label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="nombrePropiedad" th:field="*{nombrePropiedad}" name="nombrePropiedad" required>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Precio de la propiedad* </label>
			<div class="col-md-6">
				<input type="number" min="0" class="form-control" id="precio" th:field="*{precio}" name="precio"  step="0.01" required>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Fecha de publicación* </label>
			<div class="col-md-6">
				<input type="date" class="form-control" id="fechaPublicacion" th:field="*{fechaPublicacion}" name="fechaPublicacion" required>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Cantidad de dormitorios* </label>
			<div class="col-md-6">
				<input type="number" min="0" class="form-control" id="numDormitorio" th:field="*{numDormitorio}" name="numDormitorio" required>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Cantidad de baños* </label>
			<div class="col-md-6">
				<input type="number" min="0" class="form-control" id="numBanio" th:field="*{numBanio}" name="numBanio" required>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Cantidad de estacionamientos </label>
			<div class="col-md-6">
				<input type="number" min="0" class="form-control" id="numEstacionamiento" th:field="*{numEstacionamiento}" name="numEstacionamiento">
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Dimensiones del terreno </label>
			<div class="col-md-6">
				<input type="number" min="0" class="form-control" id="dimTerreno" th:field="*{dimTerreno}" name="dimTerreno" placeholder="En metros cuadrados" required>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Dimensiones de la construcción* </label>
			<div class="col-md-6">
				<input type="number" min="0" class="form-control" id="dimConstruccion" th:field="*{dimConstruccion}" name="dimConstruccion" placeholder="En metros cuadrados">
			</div>
		</div>
				
		<h3>ingresar datos de la ubicación de la propiedad</h3>
		<hr>
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Región* </label>
			<div class="col-md-6">
<!-- 				<input type ="text" class="form-control" id="region" th:field="*{region}" name="region"> -->
				<select onchange="comprobar();" name="region" id="region" th:field="*{region}" class="form-control" required>
				<option selected value=""></option>
				<option value="Ñuble" >Ñuble</option>
				<option value="Bío-Bío" >Bío-Bío</option>
				 </select>
			</div>
		</div>
		
		
<!-- 		<div class="form-group row"> -->
<!-- 			<label class="col-md-6 col-form-label"> Región </label> -->
<!-- 			<div class="col-md-6"> -->
<!-- 				<input type="text" class="form-control" id="region" th:field="*{region}" name="region"> -->
<!-- 			</div> -->
<!-- 		</div> -->
		<div class="form-group row" >
			<label class="col-md-6 col-form-label"> Comuna* </label>
			<div class="col-md-6">
<!-- 				<input type="text" class="form-control" id="comuna" th:field="*{comuna}" name="comuna"> -->
                    <select id="relleno" name="relleno" class="form-control">
					<option selected></option>
					</select>
					
                    <select th:field="*{comuna}" name="comunañ" id="comunañ" class="form-control">
                    <option value="" selected></option>
                    <option value="San Carlos">San Carlos</option>
							<option value="San Fabián">San Fabián</option>
							<option value="Coihueco">Coihueco</option>
							<option value="Ñiquén">Ñiquén</option>
							<option value="San Nicolás">San Nicolás</option>
							<option value="Bulnes">Bulnes</option>
							<option value="Chillán">Chillán</option>
							<option value="Chillán Viejo">Chillán Viejo</option>
							<option value="El Carmen">El Carmen</option>
							<option value="Pemuco">Pemuco</option>
							<option value="Pinto">Pinto</option>
							<option value="Quillón">Quillón</option>
							<option value="San Ignacio">San Ignacio</option>
							<option value="Yungay">Yungay</option>
							<option value="Quirihue">Quirihue</option>
							<option value="Cobquecura">Cobquecura</option>
							<option value="Coelemu">Coelemu</option>
							<option value="Ninhue">Ninhue</option>
							<option value="Portezuelo">Portezuelo</option>
							<option value="Ránquil">Ránquil</option>
							<option value="Treguaco">Treguaco</option>
                    </select>
                    
                    <select  id="comunab" name="comunab" th:field="*{comuna}" class="form-control">
			                <option value="" selected enable hidden></option> 
                            <option value="Concepcion">Concepcion</option>
                            <option value="Coronel">Coronel</option>
                            <option value="Chiguayante">Chiguayante</option>
                            <option value="Florida">Florida</option>
                            <option value="Hualqui">Hualqui</option>
                            <option value="Lota">Lota</option>
                            <option value="Penco">Penco</option>
                            <option value="San Pedro de La Paz">San Pedro de La Paz</option>
                            <option value="Santa Juana">Santa Juana</option>
                            <option value="Talcahuano">Talcahuano</option>
                            <option value="Tomé">Tomé</option>
                            <option value="Hualpén">Hualpén</option>
                            <option value="Lebu">Lebu</option>
                            <option value="Arauco">Arauco</option>
                            <option value="Cañete">Cañete</option>
                            <option value="Contulmo">Contulmo</option>
                            <option value="Curanilahue">Curanilahue</option>
                            <option value="Los ÁLamos">Los ÁLamos</option>
                            <option value="Tirúa">Tirúa</option>
                            <option value="Los Ángeles">Los Ángeles</option>
                            <option value="Antuco">Antuco</option>
                            <option value="Cabrero">Cabrero</option>
                            <option value="Laja">Laja</option>
                            <option value="Mulchén">Mulchén</option>
                            <option value="Nacimiento">Nacimiento</option>
                            <option value="Negrete">Negrete</option>
                            <option value="Quilaco">Quilaco</option>
                            <option value="Quilleco">Quilleco</option>
                            <option value="San Rosendo">San Rosendo</option>
                            <option value="Santa Bárbara">Santa Bárbara</option>
                            <option value="Tucapel">Tucapel</option>
                            <option value="Yumbel">Yumbel</option>
                            <option value="Alto BíoBío">Alto BíoBío</option>  
                    </select>
                   
			</div>
		</div>
<!-- 		<div class="form-group row"> -->
<!-- 			<label class="col-md-6 col-form-label"> Comuna </label> -->
<!-- 			<div class="col-md-6"> -->
<!-- 				<input type="text" class="form-control" id="comuna" th:field="*{comuna}" name="comuna"> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
<!-- 		<div class="form-group row"> -->
<!-- 			<label class="col-md-6 col-form-label"> Ciudad </label> -->
<!-- 			<div class="col-md-6"> -->
<!-- 				<input type="text" class="form-control" id="ciudad" th:field="*{ciudad}" name="ciudad"> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Calle* </label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="calle" th:field="*{calle}" name="calle" required>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Número* </label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="numero" th:field="*{numero}" name="numero" required>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Número del departamento </label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="numDepartamento" th:field="*{numDepartamento}" name="numDepartamento">
			</div>
		</div>
		
		<hr><br>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Descripción de la propiedad</label>
			<div class="col-md-6">
				<textarea class="form-control" id="descripcion" th:field="*{descripcion}" name="descripcion" >
				</textarea>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-md-6 col-form-label"> Imagen* </label>
			<div class="col-md-6">
				<input type="file" min="0" class="form-control" id="dimConstruccion" th:field="*{dimConstruccion}" name="dimConstruccion" placeholder="En metros cuadrados">
			</div>
		</div>
		
		<span>*Obligatorio</span> <br>
			
		

			<button type="submit" class="btn btn-success" onclick="alerta();">Guardar</button>
			<a href="/propiedades" class="btn btn-danger">Cancelar</a>
			<br><br>
		</form>
	</div> <!--  div del form  -->

</div> <!--  div del container -->

<footer th:replace="layout/footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	
<script type="text/javascript">
function comprobar() {
	var rango = document.getElementById('region');
	var ñuble = document.getElementById('comunañ');
	var biobio = document.getElementById('comunab');
	var re=document.getElementById('relleno');
	var r=new String(rango.value);
		if(r=='Ñuble'){
		ñuble.style.display='block';
  		biobio.style.display='none';
  		re.style.display='none';
		}else{
			ñuble.style.display='none';
			biobio.style.display='block';
			re.style.display='none';
		}
}
function esconder(){
	var ñ=document.getElementById('comunañ');
	var b=document.getElementById('comunab');
	var r=document.getElementById('relleno');
	ñ.style.display='none';
	b.style.display='none';
	r.style.display='block';
}
function alerta() {
	  alert("Propiedad registrada");
	}

</script>
</body>
</html>