<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar Inmobiliaria</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/Map-Clean.css">
<link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <head th:replace="layout/header :: head">
</head>
<body>

	<div class="container">	
	<header th:replace="layout/header :: header"></header>
	<br><br><br><br><br><br>
	
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a onclick="location.href='/indexAdmin'"><span>Inicio</span></a></li>
			<li class="breadcrumb-item"><a onclick="location.href='/inmobiliaria'"><span>Ver inmobiliarias/</span></a></li>
			<li class="breadcrum-item active"><span>Agregar inmobiliaria</span></li>
  		</ol>
	</nav>


		<form action="#" th:action="@{/inmobiliaria/save}" th:object="${inmobiliaria}"
			method="post">
			<div class="form-group"></div>
			<h2>Inmobiliaria</h2>
			<hr><br>
			<input type="hidden" th:field="*{idInmobiliaria}" name="idInmobiliaria" id="idInmobiliaria">
			
			
			<div class="form-group">
				<label for="nombre">Calle</label> <input type="text"
					class="form-control" id="calle" th:field="*{calle}" name="calle">
			</div>
			
			<div class="form-group">
				<label for="nombre">Ciudad</label> <input type="text"
					class="form-control" id="ciudad" th:field="*{ciudad}" name="ciudad">
			</div>
			
			<div class="form-group">
				<label for="nombre">Comuna</label> <input type="text"
					class="form-control" id="comuna" th:field="*{comuna}" name="comuna">
			</div>
			
			<div class="form-group">
				<label for="nombre">Correo</label> <input type="text"
					class="form-control" id="correo" th:field="*{correo}" name="correo">
			</div>
			
			<div class="form-group">
				<label for="nombre">Latitud</label> <input type="text"
					class="form-control" id="latitud" th:field="*{latitud}" name="latitud">
			</div>
			
			<div class="form-group">
				<label for="nombre">Longitud</label> <input type="text"
					class="form-control" id="longitud" th:field="*{longitud}" name="longitud">
			</div>
			
			<div class="form-group">
				<label for="nombre">Nombre</label> <input type="text"
					class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
			</div>
			
			<div class="form-group">
				<label for="nombre">Numero departamento</label> <input type="number"
					class="form-control" id="numDepartamento" th:field="*{numDepartamento}" name="numDepartamento">
			</div>
			
			<div class="form-group">
				<label for="nombre">Número</label> <input type="text"
					class="form-control" id="numero" th:field="*{numero}" name="numero">
			</div>
			
			<div class="form-group">
				<label for="nombre">Región</label> <input type="text"
					class="form-control" id="region" th:field="*{region}" name="region">
			</div>
			
			<div class="form-group">
				<label for="nombre">Teléfono</label> <input type="text"
					class="form-control" id="telefono" th:field="*{telefono}" name="telefono">
			</div>
			<br>
			<button type="submit" class="btn btn-success">Guardar</button>
			<button type="button" class="btn btn-danger" onclick="location.href='/inmobiliaria'">Cancelar</button>
			<br><br>
		</form>
	</div>
	<footer th:replace="layout/footer :: footer"></footer>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/untitled.js"></script>
</body>
</html>