<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar Destinación</title>
</head>
<body>
	<div>
		<form action="#" th:action="@{/destinacion/save}" th:object="${destinacion}"
			method="post">
			<input type="hidden" th:field="*{idDestinacion}" name="idDestinacion" id="idDestinacion">
			<div class="form-group">
				<label for="fechaVenta">Fecha de Venta</label> <input type="date"
					class="form-control" id="fechaVenta" th:field="*{fechaVenta}" name="fechaVenta">
			</div>
			<div class="form-group">
				<label for="fechaRegistro">Fecha de Registro</label> <input type="date"
					class="form-control" id="fechaRegistro" th:field="*{fechaRegistro}" name="fechaRegistro">
			</div>
			<div class="form-group">
				<label for="tipoDestinacion">Tipo de Destinación</label> <input type="text"
					class="form-control" id="tipoDestinacion" th:field="*{tipoDestinacion}" name="tipoDestinacion">
			</div>
			<button type="submit">Guardar</button>
		</form>
	</div>
</body>
</html>