<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar Destinación</title>
</head>
<body>
	<div>
		<form action="#" th:action="@{/tipo/save}" th:object="${tipo}"
			method="post">
			<input type="hidden" th:field="*{idTipo}" name="idTipo" id="idTipo">
			
			<div class="form-group">
				<label for="fechaVenta">Condicion</label> <input type="text"
					class="form-control" id="condicion" th:field="*{condicion}" name="condicion">
			</div>
			<div class="form-group">
				<label for="fechaRegistro">Nombre tipo</label> <input type="text"
					class="form-control" id="nombreTipo" th:field="*{nombreTipo}" name="nombreTipo">
			</div>
			<div class="form-group">
				<label for="tipoDestinacion">Número de baños</label> <input type="text"
					class="form-control" id="numBanio" th:field="*{numBanio}" name="numBanio">
			</div>
			
			<div class="form-group">
				<label for="tipoDestinacion">Número de dormitorios</label> <input type="text"
					class="form-control" id="numDormitorio" th:field="*{numDormitorio}" name="numDormitorio">
			</div>
			
			<div class="form-group">
				<label for="tipoDestinacion">Número de estacionamientos</label> <input type="text"
					class="form-control" id="numEstacionamiento" th:field="*{numEstacionamiento}" name="numEstacionamiento">
			</div>
			<button type="submit">Guardar</button>
		</form>
	</div>
</body>
</html>