<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar Inmobiliaria</title>
<style>
.pointer { 
	cursor: pointer;
}


.btn:hover { 
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.6);
}

</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head th:replace="layout/header :: head"></head>
<body onload="esconder();" style="background-color: #dee8f0;">

<header th:replace="layout/header :: header"></header>
<br> <br> <br> <br> <br> <br>

<div class="container">

  		<nav aria-label="breadcrumb" style="background-color:#ffffff;">
  			<ol class="breadcrumb" style="background-color:#ffffff;">
  				<li class="breadcrumb-item pointer" onclick="location.href='/indexAdmin'"  aria-current="page" style="background-color:#ffffff; color:#00699d;">Inicio</li>
  				<li class="breadcrumb-item pointer" onclick="location.href='/propiedades'" aria-current="page" style="background-color:#ffffff; color:#00699d;">Ver inmobiliarias</li>
				<li class="breadcrumb-item active" aria-current="page" style="background-color:#ffffff;">Agregar inmobiliaria</li>	  				
  			</ol>
		</nav>

		<div style="background-color: #ffffff">
			<form class="ml-5 mr-5" action="#" th:action="@{/inmobiliaria/save}" th:object="${inmobiliaria}" method="post">

				<div class="form-group">
					<br> <br>
					<h4 class="display-4 text-center">Guardar una inmobiliaria</h4>
					<hr>
					<br>
				</div>
				
				<div class="form-group row">
					<label class="col-md-6 col-form-label"> Calle* </label>
					<div class="col-md-6">
						<input type="text" class="form-control" id="calle"
							th:field="*{calle}" name="calle" required>
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-md-6 col-form-label"> Comuna* </label>
					<div class="col-md-6">
						<select id="relleno" name="relleno" class="form-control">
							<option selected></option>
						</select> 
						<select th:field="*{comuna}" name="comunañ" id="comunañ"
							class="form-control" required>
							<option value=""></option>
							<option value="San Carlos">San Carlos</option>
							<option value="San Fabián">San Fabián</option>
							<option value="Coihueco">Coihueco</option>
							<option value="Ñiquén">Ñiquén</option>
							<option value="San Nicolás">San Nicolás</option>
							<option value="Bulnes">Bulnes</option>
							<option value="Chillán">Chillán</option>
							<option value="Chillán Viejo">Chillán Viejo</option>
							<option value="El Carmen">El Carmen</option>
							<option value="Pemuco">Pemuco</option>
							<option value="Pinto">Pinto</option>
							<option value="Quillón">Quillón</option>
							<option value="San Ignacio">San Ignacio</option>
							<option value="Yungay">Yungay</option>
							<option value="Quirihue">Quirihue</option>
							<option value="Cobquecura">Cobquecura</option>
							<option value="Coelemu">Coelemu</option>
							<option value="Ninhue">Ninhue</option>
							<option value="Portezuelo">Portezuelo</option>
							<option value="Ránquil">Ránquil</option>
							<option value="Treguaco">Treguaco</option>
						</select> 
						<select id="comunab" name="comunab" th:field="*{comuna}"
							class="form-control" required>
							<option value=""></option>
							<option value="Concepcion">Concepcion</option>
							<option value="Coronel">Coronel</option>
							<option value="Chiguayante">Chiguayante</option>
							<option value="Florida">Florida</option>
							<option value="Hualqui">Hualqui</option>
							<option value="Lota">Lota</option>
							<option value="Penco">Penco</option>
							<option value="San Pedro de La Paz">San Pedro de La Paz</option>
							<option value="Santa Juana">Santa Juana</option>
							<option value="Talcahuano">Talcahuano</option>
							<option value="Tomé">Tomé</option>
							<option value="Hualpén">Hualpén</option>
							<option value="Lebu">Lebu</option>
							<option value="Arauco">Arauco</option>
							<option value="Cañete">Cañete</option>
							<option value="Contulmo">Contulmo</option>
							<option value="Curanilahue">Curanilahue</option>
							<option value="Los ÁLamos">Los ÁLamos</option>
							<option value="Tirúa">Tirúa</option>
							<option value="Los Ángeles">Los Ángeles</option>
							<option value="Antuco">Antuco</option>
							<option value="Cabrero">Cabrero</option>
							<option value="Laja">Laja</option>
							<option value="Mulchén">Mulchén</option>
							<option value="Nacimiento">Nacimiento</option>
							<option value="Negrete">Negrete</option>
							<option value="Quilaco">Quilaco</option>
							<option value="Quilleco">Quilleco</option>
							<option value="San Rosendo">San Rosendo</option>
							<option value="Santa Bárbara">Santa Bárbara</option>
							<option value="Tucapel">Tucapel</option>
							<option value="Yumbel">Yumbel</option>
							<option value="Alto BíoBío">Alto BíoBío</option>
						</select>

					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-md-6 col-form-label"> Correo* </label>
					<div class="col-md-6">
						<input type="email" class="form-control" id="correo"
							th:field="*{correo}" name="correo"
							placeholder="correo@ejemplo.com" required>
					</div>
				</div>
				
				<input type="hidden" th:field="*{idInmobiliaria}" name="idInmobiliaria" id="idInmobiliaria">
				
				<div class="form-group row">
					<label class="col-md-6 col-form-label"> Nombre* </label>
					<div class="col-md-6">
						<input type="text" class="form-control" id="nombre"
							th:field="*{nombre}" name="nombre" required>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-md-6 col-form-label"> Número
						departamento* </label>
					<div class="col-md-6">
						<input type="number" min="0" class="form-control"
							id="numDepartamento" th:field="*{numDepartamento}"
							name="numDepartamento" required>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-md-6 col-form-label"> Número* </label>
					<div class="col-md-6">
						<input type="number" min="0" class="form-control" id="numero"
							th:field="*{numero}" name="numero" required>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-md-6 col-form-label"> Región* </label>
					<div class="col-md-6">
						<!-- 				<input type ="text" class="form-control" id="region" th:field="*{region}" name="region"> -->
						<select onchange="comprobar();" name="region" id="region"
							th:field="*{region}" class="form-control" required>
							<option selected value=""></option>
							<option value="Ñuble">Ñuble</option>
							<option value="Bío-Bío">Bío-Bío</option>
						</select>
					</div>
				</div>

				
				<div class="form-group row">
					<label class="col-md-6 col-form-label"> Teléfono* </label>
					<div class="col-md-6">
						<input placeholder="12345678" type="tel" pattern="[0-9]{8}"
							class="form-control" id="telefono" th:field="*{telefono}"
							name="telefono" required>
					</div>
				</div>

				<span>*Obligatorio</span> <br><br><br>
				
				<button type="submit" class="btn btn-success">Guardar</button>
				<button type="button" class="btn btn-danger" onclick="location.href='/inmobiliaria'">Cancelar</button>
				<br> <br>
				
			</form>
			
			</div> <!--  div del body -->
	</div>

		

<footer th:replace="layout/footer :: footer"></footer>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/untitled.js"></script>
<script type="text/javascript">
			function comprobar() {
				var rango = document.getElementById('region');
				var ñuble = document.getElementById('comunañ');
				var biobio = document.getElementById('comunab');
				var re = document.getElementById('relleno');
				var r = new String(rango.value);
				if (r == 'Ñuble') {
					ñuble.style.display = 'block';
					biobio.style.display = 'none';
					re.style.display = 'none';
				} else {
					ñuble.style.display = 'none';
					biobio.style.display = 'block';
					re.style.display = 'none';
				}
			}
			function esconder() {
				var ñ = document.getElementById('comunañ');
				var b = document.getElementById('comunab');
				var r = document.getElementById('relleno');
				ñ.style.display = 'none';
				b.style.display = 'none';
				r.style.display = 'block';
			}
</script>
</body>
</html>