<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="footer">
<meta charset="UTF-8">
<style>
      
      h5 {
        color:white;
        font-style: oblique;
      }
      p{
        color:white
      }
      a{
        color: azure
      }
      
      p.small{
        color: white;
      text-indent: 40px;
        
      }
     
      </style>
<title>Arrau Propiedades</title>
</head>
<body>

<!-- <footer th:fragment="footer" class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">Acerca de nosotros</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Contacto</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Arrau Propiedades 2019. Todos los derechos reservados</p>
                </div>
                <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>-->
    <footer th:fragment="footer" class="page-footer font-small mdb-color lighten-3 pt-4" style="background-color:#0485FF!important">
      
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  


          <div class="col-md-4 col-lg-3 text-center mx-auto my-md-4 my-0 mt-4 mb-1">
              <img src="../assets/img/arrau.png" width="95">
              
              <h5>ARRAU PROPIEDADES</h5>       
       
             </div>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">Servicios</h5>
          <p>Exhibición de propiedades</p>
          <p>Gestión de propiedades</p>
          <p>Servicio al cliente</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Dirección</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fa fa-home mr-3"></i> Avda Constitución #1234</p>
            </li>
            <li>
              <p>
                <i class="fa fa-envelope mr-3"></i> arrau.propiedades@gmail.com</p>
            </li>
            <li>
              <p>
                <i class="fa fa-phone mr-3"></i> + 569 94 39 27 12</p>
            </li>
            <li>
                <p>
                  <i class="fa fa-clock-o mr-3"></i> Horario de atención </p>
                  <p class="small">9:00 am - 18:00 pm</p>
                  
              </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
      
        <!-- Grid column -->
  
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3  " style="background: #024E95 !important">
    <a href="">© 2018 Copyright Arrau Propiedades </a>
    </div>
    <!-- Copyright -->
  
 

    </footer>
    
     
</body>
</html>