<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="footer">
<meta charset="UTF-8">
<title>Arrau Propiedades</title>
</head>
<body>

<footer th:fragment="footer" class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">Acerca de nosotros</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Contacto</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Arrau Propiedades 2019. Todos los derechos reservados</p>
                </div>
                <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>