<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="footer">
<meta charset="UTF-8">
<title>Arrau Propiedades</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header th:fragment="header">

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white navigation-clean">
	<div class="container-fluid">
		<a class="navbar-brand" href="/indexAdmin">
			<img src="https://trello-attachments.s3.amazonaws.com/5cc730691f57f32daa57deda/238x82/ded2f8a4537d8f5cb4dfd0a5f63591b4/Logo_horizontal.png">
		</a>
		<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navcol-1">
				<ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">Propiedades&nbsp;</a>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                    	<a class="dropdown-item" role="presentation" onclick="location.href='/propiedadPojo'">Ver propiedades</a>
                        <a class="dropdown-item" role="presentation" onclick="location.href='/propiedadPojo/save/0'">Agregar propiedad</a>
                   </div>
					</li>
                    <li class="nav-item dropdown">
                    	<a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">Inmobiliarias&nbsp;</a>
                    	<div class="dropdown-menu dropdown-menu-right" role="menu">
                        	<a class="dropdown-item" role="presentation" onclick="location.href='/inmobiliaria'">Ver inmobiliaria</a>
                            <a class="dropdown-item" role="presentation" href="/inmobiliaria/save/0">Agregar inmobiliaria</a></div>
                    </li>
                    <li class="nav-item dropdown">
                    	<a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">Secretaria</a>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                        	<a class="dropdown-item" role="presentation" onclick="location.href='/index'">Cerrar sesión</a></div>
                    </li>
				</ul>
		</div>
	</div>
</nav>
    
</header>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>